*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: #424141;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menus{
    display: flex;
}

.logo-photo{
    width: 120px;
}

.item{
    margin-left: 10px;
    padding: 7px;
    font-style: 18px;   
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url(./images/background.png),linear-gradient(45deg, rgb(32, 32, 32),
     rgb(8, 8, 8));
     color: white;

}

.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
}



.photo{
    width: 300px;
}

